<div class="modal-body">
  <div class="title">
    <p>{{ project.name }}</p>
    <button
      type="button"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      x
    </button>
  </div>
  <div class="body">
    @if (project.pictures) {
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let picture of project.pictures">
        <img
          [src]="picture"
          alt="placeholder" class="carousel-img"
          style="display: block; width: 100%"
        />
      </ng-template>
    </ngb-carousel>
    }

    <h3 class="mt-2">Description</h3>
    <p class="">{{ project.description }}</p>
    <p>
      You can find this project on Github
      <a href="{{ project.projectLink }}" target="_blank">here</a>
    </p>

    <hr />
    <div class="d-flex flex-wrap">
      <div *ngFor="let tag of project.tags">
        <div class="tag me-2 mb-1" [style.background-color]="tag.color">
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
</div>
