<body>
  <div class="card shadow border p-4 col-9 mb-2">
    <header>
      <h1>Pjotr van Pruissen</h1>
      <p>Computer science student</p>
    </header>
    <section class="summary">
      <h2>Summary</h2>
      <p>
        My tech experience includes working with EVS broadcast equipment, where
        I gained additional knowledge regarding network security in an embedded
        setting. You may learn more about my experience on the resume page. I'm
        interested in cybersecurity and digital privacy, and I prefer to stay
        current on any new advances in these areas. In addition, I enjoy working
        on creating my own software, which is what I'm studying right now.
        Investing is another area of interest for me; I deal with it on a daily
        basis and enjoy learning more about it in my free time.
      </p>
    </section>
    <section class="experience">
      <h2>Work Experience</h2>
      <div class="job">
        <h3>Kitchen staff</h3>
        <h4>RCN de flaasbloem, 2020 - Present</h4>
        <ul>
          <li>Prepare dishes in a fast paced environment.</li>
          <li>Responsible for preparing food in advance to the dinner rush.</li>
        </ul>
      </div>
      <div class="job">
        <h3>Software development intern</h3>
        <h4>EVS Broadcast equipment, September 2023 - January 2024</h4>
        <ul>
          <li>
            Thorough network security investigation of an embedded device.
          </li>
          <li>
            Discover possible security flaws using penetration testing
            techniques and code analysis.
          </li>
          <li>Became familiar with new languages such as C++ and Python.</li>
          <li>Created security guidelines for other developers.</li>
        </ul>
      </div>
    </section>
    <section class="education">
      <h2>Education</h2>
      <div class="education">
        <h3>Bachelor of Science in Computer Science</h3>
        <h4>State University, 2020 - 2025</h4>
      </div>
    </section>
    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>HTML/CSS</li>
        <li>Git</li>
        <li>C#</li>
      </ul>
    </section>
    <section class="contact">
      <h2>Contact</h2>
      <p>Email: pj.vanpruissen&#64;student.avans.nl</p>
      <a href="https://www.linkedin.com/in/pjotr-van-pruissen-54b4ba105/"
        >LinkedIn</a
      >
    </section>
  </div>
</body>
