/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1140px;
}

.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;
}

body {
  background-color: #018281;
  font-family: "MS Sans Serif";
}

.card {
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-radius: 0px;
}

.btn {
  font-size: 12px;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-radius: 0px;
  color: #000000;
  padding: 10px 10px;
  margin: 20px 3px;
  /* display: block;
  position: relative; */
  bottom: 0px;
}