<div class="container">
  <div class="row">
    <!--About me-->
    <div class="col-lg shadown border m-1">
      <div class="text-center">
        <h2>About me</h2>
        <img
          src="../../assets/IMG_20230425_195909.jpg"
          alt="picture of me"
          height="250"
          class="rounded-circle"
        />
        <p>
          Pjotr van Pruissen is my name. A University of Avans student studying
          computer science. My tech experience includes working with EVS
          broadcast equipment, where I gained additional knowledge regarding
          network security in an embedded setting. You may learn more about my
          experience on the resume page. I'm interested in cybersecurity and
          digital privacy, and I prefer to stay current on any new advances in
          these areas. In addition, I enjoy working on creating my own software,
          which is what I'm studying right now. Investing is another area of
          interest for me; I deal with it on a daily basis and enjoy learning
          more about it in my free time.
        </p>
      </div>
    </div>
    <!--Featured project-->
    <div class="col-lg shadown border m-1">
      <div class="text-center">
        <h2>Featured project</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>

      @if (featuredProject.pictures) {
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let picture of featuredProject.pictures">
          <img [src]="picture" alt="placeholder" class="carousel-img" />
        </ng-template>
      </ngb-carousel>
      }

      <p class="mt-2">{{ featuredProject.summary }}</p>
      <p>Visit the portfolio page to learn more!</p>
    </div>
  </div>
</div>
